node_modules

# Build outputs
.dist
dist

# Vercel
.vercel

# Netlify
.netlify

# Cloudflare
.wrangler

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Lockfiles (keep if you want reproducible builds)
package-lock.json
 bun.lockb
# pnpm-lock.yaml
# yarn.lock
